@import url(variables.css);
.menumain {
  font-size: 6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: y
}
.pastry {
  width: 13em;
  height: 19em;
  border: 3px solid black;
  margin: 4em;
  box-shadow: 0.6em 0.3em 0.3em black;
  font-family: "B612 Mono", monospace;
  color: greenyellow;
}
